QTreeView {
	background: #201F21; 
	color: #D9D9D9; 
	font-size: 26px; 
	show-decoration-selected: 0; 
} 
QTreeView::item:selected { 
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #4F4E50, stop: 1 #201F21); 
	border: 2px solid #201F21; 
	outline: none; 
	border-radius: 8px; 
} 
QTreeView::branch { 
	background: #201F21; 
	color: #201F21 
} 

QWidget {background: #201F21; color: #D9D9D9;}
